
/* Style texte importation */


@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');


 /* Page entière modification */

body{
    font-family: 'Roboto Condensed', sans-serif;
    margin:auto;
    background-color:  black ;
    color: #4d4d4d;
}
h1{
    font-size: 2em;
    margin: 0;
    font-weight: normal;
}
h3{
    font-size: 1em;
}
.contenu{
    display: flex;
    margin: 0 20% 0 20%;
    font-size: 12px;
}
.icone{
    width: 40px;
    height: 40px;
}
a{
    text-decoration: none;
    color: #ff9900;
    border: 1px solid #4d4d4d;
    border-radius: 12px;
    padding: 1px;
    background-color: #4d4d4d;
}
a:hover{
    color: #4d4d4d;
    background-color: #ff9900;
    font-weight: bold;
    border: none;
}

/* Bannière gauche */

.banner{
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color: #ff9900;
}
.profil{
    display: flex;
    height: 15%;
}
.profil img{
    display: block;
    margin: auto;
    opacity: 0.9;
    height: 8em;
    width: 8em;
    border-radius: 100px;
    box-shadow:  0 0 12px 5px black, 6px 10px 10px black inset;
}
.contact ul{
    padding: 0 20px 0 20px;
}
.contact li{
    list-style-type: none;
    margin-bottom: 1em;
}
.perso{
    flex: 1;
}
.perso p{
    padding: 0 20px 0 20px;
    text-align: justify;
}
.loisirs ul{
    margin: auto;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0%;
}
.banner h2{
    background-color: #4d4d4d;
    color: #ff9900 ;
    text-align: center;
}


/* top droite prénom + métier */

.infoMoi {
    padding: 50px 0 25px 0;
}
#borderDev{
    border-bottom: 1px #ff9900 solid;
}
#prenom{
    color: #ff9900;
}
.infoMoi p{
    font-size: 1.3em;
    margin-top: 0;
}
.bold{
    font-weight: bold;
}




/* Corps droite */

.blockDroit{
    display: flex;
    flex-direction: column;
    width: 75%;
    text-align: justify;
    background-color: white;
    padding: 0 3em 0 3em;
}
.blockDroit h2{
    margin: 0;
    border-bottom: 1px #ff9900 solid;
}
.blockDroit .icone{
    vertical-align: middle;
    margin-right: 15px;
}
.blockDroit ul{
    padding-left:0;
    list-style-type: none;
}
.liFlex::before {
    content: "•";
    color: #ff9900;
    font-size: 2em;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    text-align: center;
    margin-top: 8px;
}
.liFlex{
    display: flex;
    padding-bottom: 2em;
}
.date{
    width: 30%;
}
.infoDate{
    padding-left: 3em;
    width: 70%;
}
h3{
    margin-top: 0;
}
strong{
    font-weight: normal;
}
.reco div{
    display: flex;
}
.reco p{
    width: 50%;
}


/*à enlever après la mise en place des block 

section{
    border: 2px red solid;
    margin:  20px;
}
div{
    border: 2px red solid;
} */

@media screen and (max-width: 1050px) {
    .contenu{
        flex-flow: wrap-reverse;
        margin: 0;
    }
    .banner{
        width: 100%;
    }
    .blockDroit{
        width: 100%;
    }
    .profil{
        display: none;
    }
    .titreContact{
        margin-top: 0;
    }
    .contact li{
        text-align: center;
    }
}

/* Style texte importation */


@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');


 /* Page entière modification */

body{
    font-family: 'Roboto Condensed', sans-serif;
    margin:auto;
    background-color:  black ;
    color: #4d4d4d;
}
h1{
    font-size: 2em;
    margin: 0;
    font-weight: normal;
}
h3{
    font-size: 1em;
}
.contenu{
    display: flex;
    margin: 0 20% 0 20%;
    font-size: 12px;
}
.icone{
    width: 40px;
    height: 40px;
}
a{
    text-decoration: none;
    color: #ff9900;
    border: 1px solid #4d4d4d;
    border-radius: 12px;
    padding: 1px;
    background-color: #4d4d4d;
}
a:hover{
    color: #4d4d4d;
    background-color: #ff9900;
    font-weight: bold;
    border: none;
}

/* Bannière gauche */

.banner{
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color: #ff9900;
}
.profil{
    display: flex;
    height: 15%;
}
.profil img{
    display: block;
    margin: auto;
    opacity: 0.9;
    height: 8em;
    width: 8em;
    border-radius: 100px;
    box-shadow:  0 0 12px 5px black, 6px 10px 10px black inset;
}
.contact ul{
    padding: 0 20px 0 20px;
}
.contact li{
    list-style-type: none;
    margin-bottom: 1em;
}
.perso{
    flex: 1;
}
.perso p{
    padding: 0 20px 0 20px;
    text-align: justify;
}
.loisirs ul{
    margin: auto;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0%;
}
.banner h2{
    background-color: #4d4d4d;
    color: #ff9900 ;
    text-align: center;
}


/* top droite prénom + métier */

.infoMoi {
    padding: 50px 0 25px 0;
}
#borderDev{
    border-bottom: 1px #ff9900 solid;
}
#prenom{
    color: #ff9900;
}
.infoMoi p{
    font-size: 1.3em;
    margin-top: 0;
}




/* Corps droite */

.blockDroit{
    display: flex;
    flex-direction: column;
    width: 75%;
    text-align: justify;
    background-color: white;
    padding: 0 3em 0 3em;
}
.blockDroit h2{
    margin: 0;
    border-bottom: 1px #ff9900 solid;
}
.blockDroit .icone{
    vertical-align: middle;
    margin-right: 15px;
}
.blockDroit ul{
    padding-left:0;
}
.blockDroit li{
    display: flex;
    padding-bottom: 2em;
}
.date{
    width: 30%;
}
.infoDate{
    padding-left: 3em;
    width: 70%;
}
h3{
    margin-top: 0;
}
strong{
    font-weight: normal;
}
.reco div{
    display: flex;
}
.reco p{
    width: 50%;
}


/*à enlever après la mise en place des block 

section{
    border: 2px red solid;
    margin:  20px;
}
div{
    border: 2px red solid;
} */

@media screen and (max-width: 1050px) {
    .contenu{
        flex-flow: wrap-reverse;
    }
    .banner{
        width: 100%;
    }
    .blockDroit{
        width: 100%;
    }
    .profil{
        display: none;
    }
    .titreContact{
        margin-top: 0;
    }
    .contact li{
        text-align: center;
    }
    .contenu{
        margin: 0;
    }
}
